/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "chrome://devtools/skin/widgets.css";
@import "resource://devtools/client/themes/light-theme.css";
@import "resource://devtools/client/shared/components/splitter/SplitBox.css";
@import "resource://devtools/client/shared/components/tree/TreeView.css";
@import "resource://devtools/client/shared/components/tabs/Tabs.css";
@import "resource://devtools/client/shared/components/tabs/TabBar.css";
@import "chrome://devtools/skin/components-frame.css";
@import "chrome://devtools/content/sourceeditor/codemirror/lib/codemirror.css";
@import "chrome://devtools/content/sourceeditor/codemirror/addon/dialog/dialog.css";
@import "chrome://devtools/content/sourceeditor/codemirror/mozilla.css";

/* Network panel components & styles */
@import "chrome://devtools/content/netmonitor/src/assets/styles/variables.css";
@import "chrome://devtools/content/netmonitor/src/assets/styles/MdnLink.css";
@import "chrome://devtools/content/netmonitor/src/assets/styles/Toolbar.css";
@import "chrome://devtools/content/netmonitor/src/assets/styles/StatusBar.css";
@import "chrome://devtools/content/netmonitor/src/assets/styles/RequestList.css";
@import "chrome://devtools/content/netmonitor/src/assets/styles/NetworkDetailsPanel.css";
@import "chrome://devtools/content/netmonitor/src/assets/styles/StatisticsPanel.css";

/* General */

* {
  box-sizing: border-box;
}

html,
body,
#mount,
.launchpad-root,
.network-monitor,
.monitor-panel {
  flex: initial;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.split-box {
  overflow: hidden;
}

.devtools-custom-headers {
  top: 10px;
  position: absolute;
  background-color: var(--theme-body-background);
  text-align: left;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  padding: 10px;
  border: 1px solid var(--theme-splitter-color);
  max-height: 300px;
  overflow: auto;
}

.custom-headers-title {
  font-weight: bold;
}

.devtools-custom-headers-listbox {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  border-top: 1px solid var(--theme-splitter-color);
  padding-top: 5px;
}

.devtools-custom-headers-listbox li {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}

.devtools-custom-headers-listbox li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.devtools-custom-headers-listbox li input {
  border: 1px solid var(--theme-splitter-color);
  width: 100%;
}

.custom-header1 {
  position: relative;
  width: 80%;
  display: inline-block;
}

.custom-header1::after {
  background-image: url(chrome://devtools/skin/images/help.svg);
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
}

.custom-header-del {
  background-image: url(chrome://devtools/skin/images/clear.svg);
  width: 16px;
  height: 16px;
}
